      <nb-card style="max-width: 800px;">

        <nb-card-header>Template Dialog</nb-card-header>
        <nb-card-body >
          <table [nbTreeGrid]="dataSource" equalColumnsWidth  >
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

            <ng-container *ngFor="let column of allColumns" [nbTreeGridColumnDef]="column">
              <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column}}</th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column]}}</td>
            </ng-container>

          </table>

        </nb-card-body>
      </nb-card>